/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
  // @media (min-width: $screen-sm-min) {
  //   margin-bottom: 400px;
  // }
}
.footer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: none;

  // @media (min-width: $screen-sm-min) {
  //   /* Set the fixed height of the footer here */
  //   height: 400px;
  //   position: absolute;
  //   bottom: 0;
  // }

  a{
    color: $white;
  }
  ul{
    margin-left: 0;
    padding-left: 15px;
  }
}
:focus {
outline: 0;
}

ol.breadcrumb{
    display: flex;
    font-size: .9em;
    li{
      margin-right: 14px;
    }
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.copy{

    padding: 44px 0 44px 0;

    .img-rounded{
      img{
        margin-top: 60px;
        @include border-left-radius(22px);
        @include border-right-radius(22px);
      }
    }

    h1, h2, h3{
      color: $blue;
    }

    h3{
      margin-top: 30px;
      margin-bottom: 14px;
    }

    blockquote{
      border: none;
      color: $blue;
    }

}

.copy.success-story{
    blockquote{
      color: $blue;
    }
}
.copy.blog-article{
  img{
    float: right;
    padding: 14px 0 14px 14px;
  }
}

.split-column{
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;

    img{
      border: 1px solid $blue-40;
      padding: 12px;
      @include border-radius(4px);
      margin: 4px;
      max-width: 100%;
    }
    @include media-breakpoint-down(md) {
      -moz-column-count: 1;
      -moz-column-gap: 0;
      -webkit-column-count: 1;
      -webkit-column-gap: 0;
      column-count: 1;
      column-gap: 0;
    }
}

.title-block{
    padding: 44px 0 44px 0;
    font-size: 18px;
    text-decoration: none;
    background: #f7f8f7;
    h2{
        @include line-under(#3eb5e6);
    }
}



// No Padding Support
// --------------------------------------------------

.no-padding{
    padding: 0;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
