//
// Color Definitions
// --------------------------------------------------

$white:    rgba(255,255,255,1);
$white-95: rgba(255,255,255,0.95);
$white-90: rgba(255,255,255,0.9);
$white-80: rgba(255,255,255,0.8);
$white-70: rgba(255,255,255,0.7);
$white-60: rgba(255,255,255,0.6);
$white-50: rgba(255,255,255,0.5);
$white-40: rgba(255,255,255,0.4);
$white-90: rgba(255,255,255,0.9);
$white-30: rgba(255,255,255,0.3);
$white-20: rgba(255,255,255,0.2);
$white-10: rgba(255,255,255,0.1);
$white-5:  rgba(255,255,255,0.05);
$white-4:  rgba(255,255,255,0.04);
$white-3:  rgba(255,255,255,0.03);
$white-2:  rgba(255,255,255,0.02);
$white-1:  rgba(255,255,255,0.01);
$white-0:  rgba(255,255,255,0);

$black:    rgba(0,0,0,1);
$black-95: rgba(0,0,0,0.95);
$black-90: rgba(0,0,0,0.9);
$black-80: rgba(0,0,0,0.8);
$black-70: rgba(0,0,0,0.7);
$black-60: rgba(0,0,0,0.6);
$black-50: rgba(0,0,0,0.5);
$black-40: rgba(0,0,0,0.4);
$black-30: rgba(0,0,0,0.3);
$black-20: rgba(0,0,0,0.2);
$black-10: rgba(0,0,0,0.1);
$black-5:  rgba(0,0,0,0.05);
$black-4:  rgba(0,0,0,0.04);
$black-3:  rgba(0,0,0,0.03);
$black-2:  rgba(0,0,0,0.02);
$black-1:  rgba(0,0,0,0.01);
$black-0:  rgba(0,0,0,0);

$grey:    rgba(141,143,150,1);
$grey-95: rgba(141,143,150,0.95);
$grey-90: rgba(141,143,150,0.9);
$grey-80: rgba(141,143,150,0.8);
$grey-70: rgba(141,143,150,0.7);
$grey-60: rgba(141,143,150,0.6);
$grey-50: rgba(141,143,150,0.5);
$grey-40: rgba(141,143,150,0.4);
$grey-30: rgba(141,143,150,0.3);
$grey-20: rgba(141,143,150,0.2);
$grey-10: rgba(141,143,150,0.1);
$grey-5:  rgba(141,143,150,0.05);
$grey-4:  rgba(141,143,150,0.04);
$grey-3:  rgba(141,143,150,0.03);
$grey-2:  rgba(141,143,150,0.02);
$grey-1:  rgba(141,143,150,0.01);
$grey-0:  rgba(141,143,150,0);

$blue:    rgba(88,177,227,1);
$blue-95: rgba(88,177,227,0.95);
$blue-90: rgba(88,177,227,0.9);
$blue-80: rgba(88,177,227,0.8);
$blue-70: rgba(88,177,227,0.7);
$blue-60: rgba(88,177,227,0.6);
$blue-50: rgba(88,177,227,0.5);
$blue-40: rgba(88,177,227,0.4);
$blue-30: rgba(88,177,227,0.3);
$blue-20: rgba(88,177,227,0.2);
$blue-10: rgba(88,177,227,0.1);
$blue-5:  rgba(88,177,227,0.05);
$blue-4:  rgba(88,177,227,0.04);
$blue-3:  rgba(88,177,227,0.03);
$blue-2:  rgba(88,177,227,0.02);
$blue-1:  rgba(88,177,227,0.01);
$blue-0:  rgba(88,177,227,0);

$purple:    rgba(118,41,125,1);
$purple-95: rgba(118,41,125,0.95);
$purple-90: rgba(118,41,125,0.9);
$purple-80: rgba(118,41,125,0.8);
$purple-70: rgba(118,41,125,0.7);
$purple-60: rgba(118,41,125,0.6);
$purple-50: rgba(118,41,125,0.5);
$purple-40: rgba(118,41,125,0.4);
$purple-30: rgba(118,41,125,0.3);
$purple-20: rgba(118,41,125,0.2);
$purple-10: rgba(118,41,125,0.1);
$purple-5:  rgba(118,41,125,0.05);
$purple-4:  rgba(118,41,125,0.04);
$purple-3:  rgba(118,41,125,0.03);
$purple-2:  rgba(118,41,125,0.02);
$purple-1:  rgba(118,41,125,0.01);
$purple-0:  rgba(118,41,125,0);

$green:    rgba(142,195,82,1);
$green-95: rgba(142,195,82,0.95);
$green-90: rgba(142,195,82,0.9);
$green-80: rgba(142,195,82,0.8);
$green-70: rgba(142,195,82,0.7);
$green-60: rgba(142,195,82,0.6);
$green-50: rgba(142,195,82,0.5);
$green-40: rgba(142,195,82,0.4);
$green-30: rgba(142,195,82,0.3);
$green-20: rgba(142,195,82,0.2);
$green-10: rgba(142,195,82,0.1);
$green-5:  rgba(142,195,82,0.05);
$green-4:  rgba(142,195,82,0.04);
$green-3:  rgba(142,195,82,0.03);
$green-2:  rgba(142,195,82,0.02);
$green-1:  rgba(142,195,82,0.01);
$green-0:  rgba(142,195,82,0);

$red:    rgba(239,68,62,1);
$red-95: rgba(239,68,62,0.95);
$red-90: rgba(239,68,62,0.9);
$red-80: rgba(239,68,62,0.8);
$red-70: rgba(239,68,62,0.7);
$red-60: rgba(239,68,62,0.6);
$red-50: rgba(239,68,62,0.5);
$red-40: rgba(239,68,62,0.4);
$red-30: rgba(239,68,62,0.3);
$red-20: rgba(239,68,62,0.2);
$red-10: rgba(239,68,62,0.1);
$red-5:  rgba(239,68,62,0.05);
$red-4:  rgba(239,68,62,0.04);
$red-3:  rgba(239,68,62,0.03);
$red-2:  rgba(239,68,62,0.02);
$red-1:  rgba(239,68,62,0.01);
$red-0:  rgba(239,68,62,0);
