@mixin line-under($line-color) {

    padding-bottom: 8px;
    border-bottom: 1px solid $line-color;
    margin-bottom: 60px;
    display: block;
    position: relative;
    text-transform: uppercase;

    &:before,&:after{
        display: block;
        content: ' ';
        height: 14px;
        width: 1px;
        background: $line-color;
        position: absolute;
        bottom: -7px;
    }

    &:before{
        left: 0;
    }
    &:after{
        right: 0;
    }

}
