.banner{
    background: url(/assets/img/subpage.jpg) center center no-repeat;
    background-size: cover;


    .content{
        color: $white;
        background: none;
        padding: 14px 44px 14px 44px;
        margin: 0;

        h1{
            @include line-under($white);
            text-transform: none;
            padding-left: 44px;
            padding-top: 200px;
            font-weight: 600;
        }
        p{
            font-size: 1.44em;
        }
    }

    .svg{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        svg{
            max-width: 30%;
            .st0,.st1,.st2,.st3{
                fill: $white;
                @include transition(sunrise .4s ease);
                @for $i from 1 through 19 {
                   &:nth-child(#{$i}) {
                    @include transition-delay(0.02s * $i);
                   }
                }
            }
        }

        span{
            color: $white;
            font-size: 1.4rem;
            font-family: "Titillium Web";
            margin-top: 14px;
            font-weight: 600;
        }


    }
}

.home-banner{

    padding: 60px 0 50px 0;
    margin-bottom: 60px;
    position: relative;
    //background: url();
    @include media-breakpoint-down(md) {
        padding:0;
    }

    &:after{
        content: ' ';
        position: absolute;
        background: url(/assets/img/ribbon.png) top left no-repeat;
        width: 344px;
        height: 482px;
        display: block;
        top: 0;
        left: 0;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .content{
        color: $white;
        //padding: ;

        h1{
            font-size: 72px;
            text-shadow: 2px 8px 16px rgba(10, 44, 100, .4);
            font-weight: 700;
        }
        h2{
            font-size: 72px;
            text-shadow: 2px 8px 16px rgba(10, 44, 100, .4);
            font-weight: 400;
            padding: 0 0 40px 0;
        }
        p{
            font-size: 38px;
            font-family: "Titillium Web";
        }
        .btn{
            text-transform: uppercase;
        }
        @media only screen  and (max-width : 1540px) {
            padding-left: 88px; //so text doesn't go behind the ribbon
        }
        @media only screen  and (max-width : 1415px) {
            padding-left: 144px; //so text doesn't go behind the ribbon
        }

        @media only screen  and (max-width : 1200px) {
            padding-left: 200px; //so text doesn't go behind the ribbon
        }

        @media only screen  and (max-width : 992px) {
            padding-left: 0; //so text doesn't go behind the ribbon
        }



    }
}
