.big-box{

    padding: 244px 0 144px 0;

    .content{
        @include border-top-radius(22px);
        @include border-bottom-radius(22px);
        //@include gradient-horizontal-three-colors(rgba(99, 196, 198, .98), rgba(99, 196, 198, .88), 50%, rgba(113, 176, 83, .88));
        background: $black-60;
        color: $white;

        a{
            color: $white;
        }
        .box{
            padding: 44px;
        }

    }

}
