.blog-boxes{

    padding: 44px 0 44px 0;

    .box{
        position: relative;
        padding: 44px;
        margin-bottom: 30px;
        transition: all .3s linear;
        color: $white;
        min-height: 300px;

        .btn{
          margin-top: 22px;
        }

        &:hover{
          //background: none;
        }
    }

    .box.blue{
      background: url(/assets/img/Blog-box-blue.png) no-repeat center center;
      background-size: cover;
    }

    .box.grey{
      background: url(/assets/img/Blog-box-grey.png) no-repeat center center;
      background-size: cover;
    }

    .box.green{
      background: url(/assets/img/Blog-box-green.png) no-repeat center center;
      background-size: cover;
    }

    .box.sky{
      background: url(/assets/img/Blog-box-sky.png) no-repeat center center;
      background-size: cover;
    }





    h2{
        margin-bottom: 22px;
    }


}
