.btn-ghost {
    @include button-variant($white, $white-0, $white);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;

    &:hover{
        background: $white-10;
    }

}

.btn-ghost-red {
    @include button-variant($white, $white-20, $white);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;
    text-transform: uppercase;

    &:hover{
        background: $red;
        color: $white;
    }

}

.btn-red {
    @include button-variant($white, $red, $red);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;
    text-transform: uppercase;

    &:hover{
        background: $red-80;
        border: 1px solid $white;
        color: $white;
    }

}

.btn-ghost-blue {
    @include button-variant($blue, $blue-0, $blue);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;

    &:hover{
        background: $blue;
        color: $white;
    }

}

.btn-contact-us {
    @include button-variant($gray-dark, $white-0, #78c2ea);
    @include transition(all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275));
    padding-left: 22px;
    padding-right: 22px;
    display: inline-block!important;
    vertical-align: middle;
    border: 1px solid #78c2ea!important;
    margin-top: -7px; //to center vertically

    &:hover{
        background: $white-10;
        border: 1px solid #ef443e!important;
    }

}

.btn-close {
    @include button-variant($white, $blue-80, $white);
    @include transition(all .4s ease);
    width: 40px;
    height: 40px;
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    border: none;

    &:hover{
        background: $green-90;
    }

}

