.color-boxes{

    padding: 44px 0 44px 0;
    background: #f7f8f7;

    .filter{
        position: relative;
        padding: 44px;
        background: $blue-70;
        transition: all .3s linear;
        color: $white;
        min-height: 300px;

        &:hover{
          background: none;
        }
    }

    .filter.blue{
      background: $blue-70;
      &:hover{
        background: $blue-50;
      }
    }

    .filter.grey{
      background: $grey-70;
      &:hover{
        background: $grey-50;
      }
    }

    .filter.green{
      background: $green-70;
      &:hover{
        background: $green-50;
      }
    }


    h2{
        margin-bottom: 22px;
    }


}
