.contact{
    //background: url(/assets/img/subpage.jpg) center center no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;

    .title{

        font-size: 18px;
        text-decoration: none;
        h1{
            color: $white;
            margin-bottom: 0;
            @include line-under(#fff);
            text-transform: none;
            padding-left: 14px;
        }
    }

    .content{
        color: $white;
        background: $blue-70;
        @include border-radius(22px);
        padding: 44px;
        margin: 44px 0 44px 0;
        margin: 0;

        .form{
            padding: 22px;
        }

    }


    .location{
        @include border-radius(14px);
        border: 1px solid $white;
        margin-bottom: 44px;

        img{
            margin: 20px;
            @include border-radius(12px);
            border: 1px solid $white;
        }

        address{
            padding: 44px;
            a{
                color: $white;
            }
        }


    }


}
