.contact-block{
    background: rgba(69,182, 228, 1);
    color: $white;
    padding: 44px 0 44px 0;
    background-size: cover;
    h2{
        @include line-under($white);
    }


    a {
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 22px;
        color: $white;
        svg{
            width: 100px;
        }
        span{
            border: 1px solid $white;
            padding: 4px 14px 4px 14px;
            @include border-radius(8px);
            @include transition(all .4s ease);
            margin-top: 14px;
            display: inline-block;
        }

        .circle-bg{
            fill:#45b6e4;
            @include transition(fill .4s ease);
        }

        &:hover{

            .circle-bg{
                fill:#ef443e;
            }
            span{
                background: #ef443e;
            }
        }

    }

    address{
        display: block;
        padding-top: 44px;
    }

}
