.explore{
    padding: 44px 0 44px 0;

    .card-columns {

        -webkit-column-gap: .8rem;
        -moz-column-gap: .8rem;
        column-gap: .8rem;
    }

    h2{
        @include line-under(#3eb5e6);
    }

    .card.res{

        color: $white;
        h4{
            margin-top: 8px;
            padding-bottom: 14px;
        }

        span{
            padding: 8px 14px 8px 14px;
            border: 1px solid $white;
            color: $white;
            background: $white-0;
            @include border-radius(8px);
            @include transition(all .4s ease);

        }

        svg{
            margin-top: 44px;
            max-width: 40%;
            @include transition(all .4s ease);
            .st0,.st1,.st2,.st3{
                fill: $white;
                @include transition(sunrise .4s ease);
                @for $i from 1 through 19 {
                   &:nth-child(#{$i}) {
                    @include transition-delay(0.02s * $i);
                   }
                }
            }
        }

        &:hover{

            svg{
                .st0,.st1,.st2,.st3{
                    fill: #d4fc9b;
                }
            }

            span{
                color: $white;
                border: 1px solid $red;
                background: $red;
            }
        }

    }
}
