.features{
    padding: 44px 0 44px 0;
    background: #f7f8f7;
    color: $black-80;


    h2.title{
        margin-bottom: 22px;
    }
    .box-wrapper{
        position: relative;
        .box{
            background: $white;
            padding: 144px 22px 22px 22px;
            border: 1px solid $black-10;
            margin-bottom: 22px;
            @include transition(all .4s ease);
             min-height: 320px;

            h2, h3 {
                text-align: center;
            }

            .icon{
                position: absolute;
                display: block;
                right: 0;
                left: 0;
                top: -22px;
                z-index: 998;
                height: 176px;
                @include transition(all .1s ease);

                img{
                    margin-top: 58px;
                }
            }

            &:hover{
                .icon{
                    background: url(/assets/img/features_icon_overlay.png) no-repeat center top;
                }
            }
        }
    }
}
