.footer {

    background: #45464a;
    color: $white-80;
    padding: 44px 0 44px 0;


    .box{
        margin-bottom: 44px;
    }

    .newsletter-form{
        border: 1px solid $white;
        padding: 4px;
        border-radius: 12px;

        #email{
            background: $white-10;
            border: 1px solid $white;
            color: $white;
            margin-right: 4px;
        }
        .btn{
            @include border-radius(10px);
        }

        .input-group .form-control:first-child {
            @include border-radius(10px);
        }

    }

    ul{
        line-height: 174%;
    }

}
