@mixin animate-icon($animation) {
  -webkit-animation: $animation;
       -o-animation: $animation;
          animation: $animation;
}

.home-roles{
    padding: 44px 0 44px 0;


    h2{
        @include line-under(#3eb5e6);
    }

    a.role{
        margin-bottom: 44px;
        color: #404041;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
        cursor: pointer;


        svg{
            height: 100px;
            text-align: center;
        }
        h3{
            border-bottom: 4px solid transparent;
            width: auto;
            display: inline-block;
            text-align: center;
            margin-top: 30px;
            padding-bottom: 14px;
            @include transition(all .4s ease);
        }
        .st0,.st1,.st2,.st3{
            fill: #5ebce8;
            width: 244px;
            @include transition(fill .4s ease);
            @for $i from 1 through 19 {
               &:nth-child(#{$i}) {
                @include transition-delay(0.02s * $i);
               }
            }
        }



        &:hover{
            h3{
                border-bottom: 4px solid #ef443e;
            }
            .st0,.st1,.st2,.st3{
                fill: #ef443e;
            }
        }
    }
}
