.more-features{
    padding: 44px 0 44px 0;
    background: #eee;


    .img-filter{
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: $blue-70;
          transition: all .3s linear;
        }


    }

    .img-filter.none{
      &:before {
        display: none;
      }
    }
    .content{
        .img-filter.blue{

            &:before {
              background: $blue-70;
            }

        }
         &:hover{
            .img-filter.blue{
                &:before {
                  background: none;
                }
            }
        }

    }


    .content{
        .img-filter.grey{

            &:before {
              background: $grey-70;
            }

        }
         &:hover{
            .img-filter.grey{
                &:before {
                  background: none;
                }
            }
        }

    }

    .content{
        .img-filter.green{

            &:before {
              background: $green-70;
            }

        }
         &:hover{
            .img-filter.green{
                &:before {
                  background: none;
                }
            }
        }

    }

    .box{
        background: $white-80;
        padding: 22px;
        border: 1px solid $black-20;
        margin-bottom: 22px;
        min-height: 288px;
    }
}
