.navbar.navbar-static-top.navbar-light.bg-faded {
    z-index: 9999;

    background: none;
    border: none;
    @include border-top-radius(0);
    @include border-right-radius(0);
    @include border-bottom-radius(0);
    @include border-left-radius(0);
    padding: 0;
    font-family: 'Titillium Web';

    li > a {
        color: $black-70;
        text-transform: uppercase;
        border-bottom: 4px solid transparent;
        font-size: .9rem;
        padding-left: 14px;
        padding-right: 14px;
    }

    .navbar-brand{
        display: inline-block;
        padding: 22px 0 22px 0;
        z-index: 999;

        a.big{
            display: inline-block;

            img{
                max-width: 70%;
            }
        }
        a.shrink{
            display: none;

            img{
                max-width: 50%;
            }
        }


    }

    .nav.navbar-nav.pull-md-right {
        line-height: 115px;
    }

    .nav-link{
        padding-top: 0;
        padding-bottom: 0;
    }

    .open > a, .open > a:hover, .open > a:focus {
        background: none !important;
        color: $blue;
        border-bottom: 4px solid #ed4644;
    }

    .dropdown-menu {

        border: none;
        background: $white-95;
        @include border-top-radius(0);
        @include border-bottom-radius(4px);
        padding-right: 44px;
        padding-left: 22px;
        padding-top: 22px;
        padding-bottom: 44px;
        margin:0;
        margin-top: 46px;
        > li > a {
            color: $black-80;
            text-transform: none;
            border:none;

            &:hover{
                background: $blue;
                color:  $white;
            }
        }
    }

}

.navbar.navbar-default.navbar-fixed-top.shrink{

    background: $black-80;

    .top-bar{
        display: none;
    }

    .navbar-brand{
        padding: 4px 0 0 22px;
        a.big{
            display: none;
        }
        a.shrink{
            display: inline-block;
        }
    }

}


.mobile-nav{
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: block;
        li{
            a,span.header{
                display: block;
                cursor: pointer;
                height: 60px;
                line-height: 60px;
                padding-left: 60px;
                width: 100%;
                margin:0;
                color: $white;
                background: $black-60;
                text-decoration: none;
                @include transition(all .4s ease);
                border-bottom: 1px solid $white;

                &:hover{
                    background: $black-80;
                    color: $white;
                }
                &:active{
                    background: $red;
                    color: $white;
                }
            }

            ul{
                li{
                    a{
                        padding-left: 80px;
                        color: $gray-dark;
                        background: $white;
                    }
                }
            }
        }
    }
}
