.news-boxes{

    padding: 60px 0 60px 0;
    background: url(/assets/img/G-blend.png) bottom left no-repeat;

    .box{
        padding: 22px 0 22px 0;
        position: relative;
        margin-bottom: 60px;
        transition: all .3s linear;

        .btn{
          margin-top: 8px;
        }

        &:hover{
          //background: none;
        }
    }


    h2{
        margin-bottom: 14px;
    }


}
