.our-partners{
    padding: 60px 0 60px 0;
    @include gradient-x-three-colors(rgba(68,124,191,1), rgba(56,101,167,1), 50%, rgba(42,53,128,1));

    h2{
        color: $white;
        @include line-under($white);
    }

    .col-md-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box{
        padding: 14px;
    }


}
