.partner-boxes{

    .box{
        padding: 44px 22px 44px 22px;
        border: 1px solid $black-10;
        @include border-radius(22px);
        margin-bottom: 44px;

        a.more{
            text-transform: uppercase;
        }
    }


}
