.products{
    padding: 44px 0 44px 0;
    background: #f7f8f7;

    .row.prod-row{
        background: #f7f8f7;

        &:nth-child(even){
            background: #e1e9eb;
        }

        .box{
            padding: 22px 0 60px 0;
            border-bottom: 1px solid #ccc;

            h3{
                color: $blue;
            }

        }
    }
}
