.related-solution{
    padding: 44px 0 44px 0;
    display: block;
    font-size: 18px;
    text-decoration: none!important;
    color: $gray-dark;

    &:nth-child(odd){
        background: #f7f8f7;
    }
    svg{
        text-align: center;
        max-width: 60%;
    }
    h4{
        color: #106fb6;
        font-size: 22px;
        text-align: left;
        align-self: flex-start;
        font-weight: 600;
    }
    span{
        padding: 8px 14px 8px 14px;
        border: 1px solid $gray-dark;
        @include border-radius(8px);
        @include transition(all .4s ease);

    }
    .st0,.st1,.st2,.st3{
        fill: $blue;
        width: 244px;
        @include transition(fill .4s ease);
        @for $i from 1 through 19 {
           &:nth-child(#{$i}) {
            @include transition-delay(0.044s * $i);
           }
        }
    }

    &:hover{
        text-decoration: none;
        color: $gray-dark;

        .st0,.st1,.st2,.st3{
            fill: $red;
        }

        span{
            color: $white;
            border: 1px solid $red;
            background: $red;
        }
    }

}
