.related-products{

    padding: 44px 0 44px 0;

    .img-filter{
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: $blue-70;
          transition: all .3s linear;
        }

    }
    .content{

        min-height: 222px;

        .img-filter.blue{

            &:before {
              background: $blue-70;
            }

        }
         &:hover{
            .img-filter.blue{
                &:before {
                  background: none;
                }
            }
        }

    }


    .content{
        .img-filter.grey{

            &:before {
              background: $grey-70;
            }

        }
         &:hover{
            .img-filter.grey{
                &:before {
                  background: none;
                }
            }
        }

    }

    .content{
        .img-filter.green{

            &:before {
              background: $green-70;
            }

        }
         &:hover{
            .img-filter.green{
                &:before {
                  background: none;
                }
            }
        }

    }
    h2{
        margin-bottom: 22px;
    }

    .box{
        background: $white-80;
        border: 1px solid $black-20;
        margin-bottom: 22px;

        h3{
            width: 100%;
            display: block;
            line-height: 44px;
            color: $white;
            background: $black-80;
            text-align: center;
            margin: 0;
            text-transform: uppercase;
        }

        h3.green{
            background: #729468;
        }
        h3.blue{
            background: #7bcfdb;
        }
        h3.grey{
            background: #8f9198;
        }

        .content{
            padding: 22px;
        }

    }

}
