.resource-boxes{

    background: #f7f8f7;
    padding: 44px 0 44px 0;

    .boxes{
        padding: 44px 0 44px 0;
    }

    a{
        margin:0 0 20px 0;
        padding: 44px 0px 88px 0px;
        text-decoration: none;
        display: block;
        min-height:244px;
        background:$black-40 url(/assets/img/resource-bg.jpg) no-repeat bottom right;
        background-size:cover;
        @include border-radius(14px);
        color:$white;
        text-align: center;
        cursor: pointer;

        h4{
            margin-top: 8px;
            padding-bottom: 14px;
        }

        span{
            padding: 8px 14px 8px 14px;
            border: 1px solid $white;
            color: $white;
            background: $white-0;
            @include border-radius(8px);
            @include transition(all .4s ease);

        }

        svg{
            max-width: 40%;
            @include transition(all .4s ease);
            .st0,.st1,.st2,.st3{
                fill: $white;
                @include transition(sunrise .4s ease);
                @for $i from 1 through 19 {
                   &:nth-child(#{$i}) {
                    @include transition-delay(0.02s * $i);
                   }
                }
            }
        }

        &:hover{

            svg{
                .st0,.st1,.st2,.st3{
                    fill: #d4fc9b;
                }
            }

            span{
                color: $white;
                border: 1px solid $red;
                background: $red;
            }
        }

    }

}
