.resource{
    padding: 0 0 44px 0;
    h2{
        color: $white;
        @include line-under($blue);
    }
    .box{
        padding: 44px;
        background: $white;
        margin-bottom: 22px;

    }
}
