.sidebar{
    background: $black-70;
    color: $white;
    font-size: 90%;
    padding-top: 8px;
    overflow: auto;

    ul{
        margin: 8px;

        span.title{
            display: block;
            padding-top: 8px;
            font-weight: 400;
        }
    }
    a{
        color: $white;
    }
}

