//
// Social Icons
// --------------------------------------------------
a.social {
  display:inline-block;
  width:25px; height:25px;
  @include border-radius(50%);
  line-height:25px;
  font-size:14px;
  text-align:center;
  background:$white;
  color:#45464a;
  margin:0;
  text-decoration:none;
  @include transition(all 0.4s ease);
}
a.social.fa-twitter:hover       { background:#41b7d8!important; color:$white!important; }
a.social.fa-facebook:hover      { background:#3b5997!important; color:$white!important; }
a.social.fa-google-plus:hover   { background:#d64937!important; color:$white!important; }
a.social.fa-linkedin:hover      { background:#0073b2!important; color:$white!important; }
a.social.fa-vimeo-square:hover  { background:#388fc5!important; color:$white!important; }
a.social.fa-youtube:hover       { background:#A40F09!important; color:$white!important; }
a.social.fa-flickr:hover        { background:#ff0084!important; color:$white!important; }
a.social.fa-pinterest:hover     { background:#cb2027!important; color:$white!important; }
a.social.fa-skype:hover         { background:#00aff0!important; color:$white!important; }
a.social.fa-rss:hover           { background:#e0812a!important; color:$white!important; }
a.social.default:hover          { background:#37353A!important; color:$white!important; }
a.social.rounded                { width:25px; height:25px; line-height:25px; border-radius:100%; }
