.solutions{
    padding: 44px 0 44px 0;
    h4{
        color: #106fb6;
        text-transform: uppercase;
    }
    h5{
        color: #106fb6;
        margin-top: 14px;
        font-weight: 600;
        @include transition(all .4s ease);
    }
    hr{
        margin-bottom: 22px;
    }
    .box{
        padding: 22px;
        margin-bottom: 22px;
        display: block;
        color: $gray-dark;
        text-decoration: none;

        svg{
            max-width: 20%;
            .st0,.st1,.st2,.st3{
                fill: #106fb6;
                width: 244px;
                @include transition(fill .4s ease);
                @for $i from 1 through 19 {
                   &:nth-child(#{$i}) {
                    @include transition-delay(0.04s * $i);
                   }
                }
            }
        }

        span{
            text-transform: uppercase;
            display: block;
            color: #106fb6;
            font-weight: 600;
            @include transition(all .4s ease);
        }

        &:hover{
            text-decoration: none;
            h4{
                color:$red;
            }
            svg{
                .st0{
                    fill:$red;
                }
            }
            span{
                color: $red;
            }

        }
    }




}
