.copy.success-story{
    blockquote{
      color: $blue;
      border: none;
    }

    .side-bar{
        padding: 44px 0;

        .logo-box{
            border: 1px solid $black-10;
            margin-bottom: 22px;
            padding: 14px;
            @include border-top-radius(22px);
            @include border-bottom-radius(22px);
        }
        blockquote{
            color: $white;
            background: $blue;
            @include border-top-radius(22px);
            @include border-bottom-radius(22px);
            padding: 22px;
            border: none;
            position: relative;

            &:before{
                @include arrow(bottom, $blue, 24px, true);
                right: auto;
                left: 88px;
            }


            footer{
                color: $white;
            }
        }
    }
}
