.testimonials-slider{
    padding: 44px 0 44px 0;
    background: #f7f6f5;

    .quote-box{
        @include border-top-radius(22px);
        @include border-bottom-radius(22px);
        min-height: 244px;
        background: $white;
        color: $gray-dark;


    }

    .image-box{
        img.photo{
            margin-top: 44px;
            max-width: 100% !important;
            width: auto;
            display: inline-block !important;
        }
    }

    blockquote {
      border: none;
      margin: 1.5em 10px;
      padding: 22px 0 22px 0;
      font-size: 1.14em;


      footer{
        margin-top: 22px;
      }
    }

    blockquote:before {
      color: $black-40;
      content: '\201C';
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }

}


.flickity-page-dots {
    bottom: 60px !important;
}
.flickity-prev-next-button .arrow {
    fill: $blue !important;
}
.flickity-prev-next-button {
  background: none !important;
}
