//
// Top Bar
// --------------------------------------------------
.top-bar {

    height: 40px;
    line-height: 40px;
    position: relative;
    padding-bottom: 22px;
    margin:0;
    z-index: 998;
    @media (min-width: $screen-md-min) {
      margin:0;
    }

    a.icon{
      color: $white;
      background: $blue;
      border: 1px solid $blue;
      @include border-top-radius(50%);
      @include border-bottom-radius(50%);
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 0 14px 0 0;
      padding: 0;
      text-align: center;
      display: inline-block;
      @includetransition(all .4s ease);

      &:hover{
        background: $green;
        border: 1px solid $green;
        color: $white;
      }
    }


    .search-form {

        display: inline-block;
        height: 30px;
        margin: 0;
        padding: 0;

        input.search-text-box {

            background: $blue url(../img/search-icon.png) 8px 50% no-repeat;
            border: 1px solid $blue;
            color: transparent;
            cursor: pointer;
            @include transition(all .3s ease-in-out);
            @include box-shadow(none);
            outline: none !important;
            @include border-top-radius(50px);
            @include border-right-radius(50px);
            @include border-bottom-radius(50px);
            @include border-left-radius(50px);
            line-height: 30px;
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0;color: $white;

            &:hover{
                color: $white;
                border: 1px solid $green;
                background-color: $green;
                background-image: url(../img/search-icon.png);
            }

            &:focus {
                background-color: $white-20;
                background-image: url(../img/search-icon.png);
                width: 88px;
                border: 0;
                color: $white;
                cursor: text;
                text-align: left;
                padding: 0 15px 1px 25px;
                border:none;

                @media (min-width: $screen-sm-min) {
                    width: 140px;
                }
            }
        }
    }

}
